/node_modules
/build
# AWS
.aws-credentials
.env.local
.env.*.local

# Build
/dist

# Environment
.env
.env.*

# Allow Netlify functions
!netlify/
!netlify/functions/
!netlify/functions/**

# Other
123.txt